    <br>
    <div class="alert alert-success" role="alert"><center>Grupo Expo - 2015</cente></div>
    <br>
    <center><img src="resources/images/expo.png"></center>
    <br>
    <div class="alert alert-success" role="alert"><center>Trabajar en equipo no es una virtud,
            es una elección consciente y voluntaria que surge construyendo lazos de confianza basados en la vulnerabilidad humana que muestran los integrantes del equipo, ante sus errores, temores, y dificultades.</center>
    </div>
    <div class="list-group">
        <a href="" class="list-group-item active">
            Grupo Expotecnica 2015
        </a>
        <a href="https://www.facebook.com/CarlosCorejoWanoo" class="list-group-item" target="_blank">Carlos Eduardo Cornejo Castillo (Coordinador)</a>
        <a href="https://www.facebook.com/romeo.cardona" class="list-group-item" target="_blank">Romeo Antony Cardona Serrano (Subcoordinador)</a>
        <a href="https://www.facebook.com/diegofernando.escobarfuentes" class="list-group-item" target="_blank">Diego Fernando Escobar Fuentes (Colaborador)</a>
        <a href="https://www.facebook.com/karla.lgb" class="list-group-item" target="_blank">Karla Lizzette Gallegos Bolaños (Colaborador)</a>
        <a href="https://www.facebook.com/dacj.campos" class="list-group-item" target="_blank">Dennys Aldair Campos Jimenez (Colaborador)</a>
    </div>